* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#slider {
	position: relative;
	width: 100%;
    height:100vh;
	overflow: hidden;
}

#slider #line {
	height: 5px;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
}

#slider #dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 16px;
	display: flex;
	justify-content: center;
}

#slider #dots li {
	transition: 0.3s;
	list-style-type: none;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: rgba(0,0,0,0.5);
	margin: 0 0.25em;
	cursor: pointer;
}

#slider #dots li:hover,
#slider #dots li.active {
	background: white;
}




#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: white;
	font-weight: 700;
    font-size: 2rem;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=1 );
}

#slider #forword {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bfffffff',GradientType=1 );
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background: gray;
	margin-right: 100%;
}


ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
    object-fit: cover;
}

ul#move li img {
	width: 100%;
    object-fit: cover;
    
}

ul#move li:nth-child(1) {
	background: #657765;
    object-fit: cover;
    
}

ul#move li:nth-child(2) {
	background: #456174;
    
}

ul#move li:nth-child(3) {
	background: #984;
}

ul#move li:nth-child(4) {
	background: #445566;
}

ul#move li:nth-child(5) {
	background: #744674;
}
.friends .item {
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.friends .img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.friends .info {
    margin-left: 160px;
}
.friends .info h6 {
    font-size: 24px;
    margin-bottom: 0;
}
.friends .info span {
    color: #BD945A;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Alex Brush', cursive;
    margin-bottom: 10px;
}
.friends .info p {
    margin-bottom: 0;
}
.friends .toright .img {
    float: right;
}
.friends .toright .info {
    margin-left: 0;
    margin-right: 160px;
    text-align: right;
}
@media screen and (max-width: 991px) {
    .friends .item,
    .friends .toright .info {
        text-align: center;
    }
    .friends .img {
        margin: auto;
        float: none !important;
    }
    .friends .info {
        margin: 30px 0 0 0 !important;
    }
}
.row ul {
	display:none;
}

